<style>
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  h1 {
    margin-bottom: 15px;
    font-size: 175%;
    text-align: center;
  }
  .col1, .col2, .col3 {
      float: left;
      border: 1px solid black;
      position: relative;
      background-color: dimgray;
  }
  .title {
    float: right;
    border: 1px solid black;
    width: 9em;
    font-size: 125%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.3em;
  }
  .contents {
    float: left;
    position: relative;
    padding: 1em;
    height: 200px;
  }

  .col1 .title {
    background-color: chocolate;
  }
  .col2 .title {
    background-color: brown;
    color: white;
  }
  .col3 .title {
    background-color: rgb(207, 197, 105);
  }
  @media (min-width: 992px) {
    .col1, .col2, .col3 {
      width: 30.43%;
      margin: 1%;
    }
    .col1 {
      margin-left: 2%;
    }
    .col3 {
      margin-right: 2%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .col1, .col2 {
      width: 46.7%;
      margin: 1%;
    }
    .col1{
      margin-left: 2%;
    }
    .col2{
      margin-right: 2%;
    }
    .col3 {
      width: 95.5%;
      margin: 1%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  @media (max-width: 767px) {
    .col1, .col2, .col3 {
      width: 96%;
      margin: 1%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
</style>
